<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap-theme.css') }}">
        <style>
            #page {
                padding-top:  75px;
            }

            body{

                background-color: Highlight;
            }

            footer{
                position : fixed;
                bottom : 0;
                left : 0;
                background-color: #0f0f0f;
                color: #ffcc00;
                width : 100%;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="container-fluid">
{% block nav %}
    {% include 'partials/_nav.html.twig' %}
{% endblock %}
<div class="row" id="page">
    <div class="col-md-10 col-md-offset-1">
        <header>
            {% block header %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Bienvenue sur PA-Immo !</h1>
                        </div>
                    </div>
                </div>

            {% endblock %}
        </header>
        <section class="col-md-6 col-md-offset-3">
            {% block body %}{% endblock %}
        </section>
        <aside class="col-md-4">
            {% block aside %} {% endblock %}
        </aside>
    </div>
</div>
<footer>
    {% block footer %}
        Copyright : CC - 2017-07-07 - All rights reserved
    {% endblock %}
</footer>


{% block javascripts %}
    <script src="{{ asset('dependencies/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('dependencies/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
